<div class="footer-wrapper__inside">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div class="footer-copyright">
                    <div class="row">
                        <form class="form-inline d-flex aling-items-center">
                            <label class="me-2 text-dark fw-900 align-center" for="inputFooter"><strong>Inscreva-se na Newsletter</strong></label>
                            <input type="email" class="form-control mr-2 col-sm-4" id="inputFooter" placeholder="Seu email">
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                          </form>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-menu text-end">
                    <ul>
                        <li>
                            <a href="https://twitter.com/torquatoxz">Twitter</a>
                        </li>
                        <li>
                            <a href="#">Instagram</a>
                        </li>
                        <li>
                            <a href="#">Email</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>