{% load i18n %} {% load static %}
  <!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container">
        <!-- Botão de colapso para telas pequenas -->
        <button class="navbar-toggler my-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Itens centralizados -->
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item list-unstyled m-3">
                <a class="nav-link" href="{% url 'home' %}">Ideias</a>
            </li>
            <li class="nav-item list-unstyled m-3">
                <a class="nav-link" href="{% url 'blog' %}">Blog</a>
            </li>
        </ul>
        </div>
    </div>
</nav>