{% load i18n %}
<!doctype html>
{% load static %}
<html lang="pt-br" dir="">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W4NTY1RLMP"></script>
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5584697328896443" crossorigin="anonymous"></script> -->
    <script async="async" data-cfasync="false" src="//pl20254164.highcpmrevenuegate.com/440b776d457018ee8683b489b981fcd9/invoke.js"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W4NTY1RLMP');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ideias para Microsaas | Inspiração para o seu Próximo Projeto</title>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link  rel="stylesheet" href="{% static 'css/plugin.min.css' %}">
    <link  rel="stylesheet" href="{% static 'css/style.css' %}">

    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/ideiasmicrosaas/favicon.png' %}" alt="icone de uma lâmpada">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.0/css/line.css">
    {% block head %}{% endblock %}
    <style>
        .custom-footer {
            background-color: rgba(217, 151, 248, 0.705);
            margin: 0 auto;
            padding: auto;
            position: fixed;
        }

        .max-window {
            max-width: 1075px;
            width: 100%;
            margin: auto;
        }

        .row-crush {
            flex-direction: column;
            
        }
    </style>
</head>
<body class="layout-light">
    <main class="main-content">
        <div class="contents-cards mb-3">
            {% block content %}
            {% endblock %}
        </div>
        <footer id="footer-bottom" class="footer-wrapper custom-footer fixed-bottom">
            {% include 'partials/_footer.html' %}
        </footer>
    </main>
    <div id="overlayer">
        <span class="loader-overlay">
            <div class="dm-spin-dots spin-lg">
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
                <span class="spin-dot badge-dot dot-primary"></span>
            </div>
        </span>
    </div>
    <div class="overlay-dark-sidebar"></div>

    <script src="{% static 'js/env.js' %}"></script>

    {% include 'partials/_scripts.html' %}
    <script>
        function updateFooterPosition() {
          const isMobile = window.matchMedia("only screen and (max-width: 767px)").matches;
          const footer = document.getElementById("footer-bottom");
        
          if (isMobile) {
            footer.style.display = 'none';
          } else {
            footer.style.display = 'block'
          }
        }
      
        // Executa a função ao carregar a página e também quando a janela for redimensionada
        document.addEventListener("DOMContentLoaded", updateFooterPosition);
        window.addEventListener("resize", updateFooterPosition);
      </script>
      
</body>
</html>